<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/48141d79fb.js" crossorigin="anonymous"></script>
    <title>Welcome to Readmate </title>
  </head>
  <body>
    <div class="row mt-5">
      <div class="col-md-6 m-auto">
        <div class="card card-body text-center">
          <h1>Readmate - Let's Read</h1>
          <p>
            <i class="fa-solid fa-book fa-3x"></i>
          </p>
          <a href="/users/new" class="btn btn-primary btn-block mb-2">Register</a>
          <a href="/sessions/new" class="btn btn-secondary btn-block">Login</a>
        </div>
      </div>
    </div>
  </body>
</html>
