<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Book Index</title>
  </head>
  <body>
    <h1>Books index page</h1>
    <ul>
      <% for (let i=0; i<books.length; i++) { %>
        <li> <%= books[i].name %> </li>
      <% } %>
    </ul>
    <nav>
      <a href="/books/new"> Create a New Book </a>
    </nav>
  </body>
</html>
