<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>This page is used to create new title</title>
  </head>
  <body>
    <h1>New Book Page</h1>
    <form class="" action="/books" method="POST">
      Name: <input type="text" name="name"> <br>
      Author: <input type="text" name="author"> <br>
      Notes: <input type="text" name="notes"><br>
      Finished?: <input type="checkbox" name="finished"><br>
        Bookmarks: <input type="number" name="bookmark">
      <input type="submit" name="Add to Collection">
    </form>
  </body>
</html>
